<!DOCTYPE html>
<html lang="zxx">


<!-- Mirrored from htmldemo.net/urdan/urdan/wishlist.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 17 Jan 2024 09:30:35 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Timezy </title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="Urdan Minimal eCommerce Bootstrap 5 Template is a stunning eCommerce website template that is the best choice for any online store.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="profile" href="https://gmpg.org/xfn/11">
    <link rel="canonical" href="https://htmldemo.hasthemes.com/urdan/index.html" />

    <!-- Open Graph (OG) meta tags are snippets of code that control how URLs are displayed when shared on social media  -->
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Urdan - Minimal eCommerce HTML Template" />
    <meta property="og:url" content="https://htmldemo.hasthemes.com/urdan/index.html" />
    <meta property="og:site_name" content="Urdan - Minimal eCommerce HTML Template" />
    <!-- For the og:image content, replace the # with a link of an image -->
    <meta property="og:image" content="#" />
    <meta property="og:description" content="Urdan Minimal eCommerce Bootstrap 5 Template is a stunning eCommerce website template that is the best choice for any online store." />
    <!-- Add site Favicon -->
    <link rel="icon" href="assets/images/favicon/cropped-favicon-32x32.png" sizes="32x32" />
    <link rel="icon" href="assets/images/favicon/cropped-favicon-192x192.png" sizes="192x192" />
    <link rel="apple-touch-icon" href="assets/images/favicon/cropped-favicon-180x180.png" />
    <meta name="msapplication-TileImage" content="assets/images/favicon/cropped-favicon-270x270.png" />

    <!-- All CSS is here
	============================================ -->
    <link rel="stylesheet" href="/assets/css/vendor/bootstrap.min.css" />
    <link rel="stylesheet" href="/assets/css/vendor/pe-icon-7-stroke.css" />
    <link rel="stylesheet" href="/assets/css/vendor/themify-icons.css" />
    <link rel="stylesheet" href="/assets/css/vendor/font-awesome.min.css" />
    <link rel="stylesheet" href="/assets/css/plugins/animate.css" />
    <link rel="stylesheet" href="/assets/css/plugins/aos.css" />
    <link rel="stylesheet" href="/assets/css/plugins/magnific-popup.css" />
    <link rel="stylesheet" href="/assets/css/plugins/swiper.min.css" />
    <link rel="stylesheet" href="/assets/css/plugins/jquery-ui.css" />
    <link rel="stylesheet" href="/assets/css/plugins/nice-select.css" />
    <link rel="stylesheet" href="/assets/css/plugins/select2.min.css" />
    <link rel="stylesheet" href="/assets/css/plugins/easyzoom.css" />
    <link rel="stylesheet" href="/assets/css/plugins/slinky.css" />
    <link rel="stylesheet" href="/assets/css/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Island+Moments&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    
    




</head>




<body>
    <style>
.order-details {
  position: relative;
}

.status-text {
  position: absolute;
  
  font-size: 16px; /* Adjust the font size as needed */
  color: black; /* Set the text color to green */
}


      /*Pagination*/.pagination-area .page-item {
  margin: 0 5px;
}

.pagination-area .page-item:first-child {
  margin-left: 0;
}

.pagination-area .page-item:first-child .page-link {
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}

.pagination-area .page-item:last-child .page-link {
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}

.pagination-area .page-item.active .page-link, .pagination-area .page-item:hover .page-link {
  color: #fff;
  background: #3BB77E;
}

.pagination-area .page-item .page-link {
  border: 0;
  padding: 0 10px;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: 0;
  width: 34px;
  height: 34px;
  display: block;
  border-radius: 4px;
  background: #e9ecee;
  line-height: 34px;
  text-align: center;
  font-size: 13px;
  color: #383e50;
}

.pagination-area .page-item .page-link.dot {
  background-color: transparent;
  color: #adb5bd;
  letter-spacing: 2px;
}

.pagination-area .page-item .page-link:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.pagination-area .page-item .page-link:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #3BB77E;
  background-color: rgba(59, 183, 126, 0.2);
}

.menu-aside .menu-item.active .submenu a.active {
  color: #3BB77E !important;
}

.text-primary {
  color: #3BB77E !important;
}
.dropdown-item.active, .dropdown-item:active {
  background-color: #3BB77E;
}
.btn.btn-primary {
  font-size: 14px;
  font-weight: 500;
  padding: 10px 40px;
  color: #ffffff;
  border: none;
  background-color: #3BB77E;
  border-radius: 4px;
}
        #otpForm {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        #otpForm label {
            margin-bottom: 10px;
        }

        #otpForm input[type="text"] {
            margin-bottom: 20px;
            padding: 5px;
            width: 200px;
        }
        nav ul li a.active {
        color: #e97730;
    }
    .header-action-style a.active{
        color: #e97730;
    }
        #otpForm button {
            margin-bottom: 20px;
            padding: 10px 20px;
        }
        .btn-green {
    background-color: green; /* You can replace 'green' with any other shade of green you prefer */
    color: white; /* Optionally change the text color to white for better contrast */
    /* Add any other styles as needed */
}
.medium-button {
    padding: 10px 20px; /* Adjust padding for medium size */
    font-size: 16px; /* Adjust font size for medium size */
}

    </style>
    <div class="main-wrapper main-wrapper-2">
        <header class="header-area header-responsive-padding header-height-1">
            <div class="header-top d-none d-lg-block bg-gray">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-6">
                            <div class="welcome-text">
                                <p>Welcome to TimeX  </p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-6">
                            <div class="language-currency-wrap">
                                <!-- <div class="currency-wrap border-style"> -->
                                    <!-- <a class="currency-active" href="#">$ Dollar (US) <i class=" ti-angle-down "></i></a>
                                    <div class="currency-dropdown">
                                        <ul>
                                            <li><a href="#">Taka (BDT) </a></li>
                                            <li><a href="#">Riyal (SAR) </a></li>
                                            <li><a href="#">Rupee (INR) </a></li>
                                        </ul>
                                    </div>
                                </div> -->
                                <div class="language-wrap">
                                    <a class="language-active" href="#"><img src="" alt=""><i class=" "></i></a>
                                    <div class="language-dropdown">
                                        <ul>
                                            
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-bottom sticky-bar">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-3 col-md-6 col-6">
                            <div class="logo">
                                <a href="/" class="brand-wrap">
                                    <!-- <img src="/adminassets/imgs/theme/sr.sv" class="logo" alt="Nest Dashboard" /> -->
                                    <span style="font-family: Island Moments, cursive;font-size: 50px;
                                    font-style: normal; text-align: center;">TimeX  </span>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-6 d-none d-lg-block d-flex justify-content-center">
                            <div class="main-menu text-center">
                                <nav>
                                    <ul>
                                        <li><a href="/">HOME</a>
                        
                                        </li>
                                        <li><a href="/shop">SHOP</a>
                                            
                                        </li>
                                        <li><a href="">PAGES</a>
                                            
                                        </li>
                                        

                                        <li><a href="">BLOG</a>
                                            
                                        </li>
                                        <li><a href="">ABOUT</a></li>
                                        
                                        <li class="account">
                                            <a href="#">ACCOUNT</a>
                                            
                                       
                                        <ul class="sub-menu-style">
                                            <% if (!req.session.user) { %>
                                                <!-- Show login/register link if user is not logged in -->
                                                <li><a href="/login">LOGIN </a></li>
                                                <li><a href="/register">REGISTER</a></li>
                                                <% } else{%>
                                                    <li><a href="/logout">LOGOUT</a></li>
                                                    <%}%>
                                        </ul>
                                       
                                    </li>

                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-6">
                            <div class="header-action-wrap">
                                
                                <div class="header-action-style">
                                    <a title="My Account" href="/my-account"><i class="pe-7s-user"></i></a>
                                </div>
                                <div class="header-action-style">
                                    <a title="Wishlist" href="/wishlist"><i class="pe-7s-like"></i></a>
                                </div>
                                <div class="header-action-style ">
                                    <a class="cart" href="/cart"><i class="pe-7s-cart"></i>
                                        <!-- <span class="product-count bg-black">01</span> -->
                                    </a>
                                </div>
                                <div class="header-action-style d-block d-lg-none">
                                    <a class="mobile-menu-active-button" href="#"><i class="pe-7s-menu"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        