<%-include('../layouts/header.ejs')%>
        <!-- mini cart start -->
    <style>
        .error-placeholder {
    visibility: hidden;
    font-size: 14px;
}
    </style>
        <div class="breadcrumb-content text-center"
        style="background-color: #f5f3f3; display: flex; align-items: center; justify-content: space-between;">
        <h3 style="margin-left: 100px; margin-top: 20px;">Otp </h3>
        <ul style="display: flex; margin-right: 40px;">
            <li><a href="/">Home</a></li>
            <li><i class="ti-angle-right"></i></li>
            <li><a href="/register">Register</a></li>
            <li><i class="ti-angle-right"></i></li>
            <li>Otp </li>
        </ul>
    </div>

        <form id="otpForm" action="#" method="post" class="signin-form" onsubmit="return validateForm()">
            <div class="form-group mb-3">
                <label class="label m-0" for="otp">Enter OTP</label>
                <input type="text" id="otp" name="otp" class="form-control" placeholder="OTP">
                <span id="otp-error" style="color: red; font-size: 14px;" class="error"></span>
            </div>
            <% if (typeof message !=="undefined" ) { %>
            <p id="message" style="color: red; text-align: center;">
                <%= message %>
            </p>
            <% } %>
        
            <div class="text-center">
                <div id="timer"></div>
                <button type="button" id="resendOTP" class="btn btn-primary rounded submit" onclick="startTimer()">Resend
                    OTP</button>
            </div>
        
            <div class="form-group text-center">
                <button type="submit" class="form-control btn btn-primary rounded submit">Verify</button>
            </div>
        </form>

        <%-include('../layouts/footer.ejs')%>
        <!-- Mobile Menu start -->
        <div class="off-canvas-active">
            <a class="off-canvas-close"><i class=" ti-close "></i></a>
            <div class="off-canvas-wrap">
                <div class="welcome-text off-canvas-margin-padding">
                    <p>Default Welcome Msg! </p>
                </div>
                <div class="mobile-menu-wrap off-canvas-margin-padding-2">
                    <div id="mobile-menu" class="slinky-mobile-menu text-left">
                        <ul>
                            <li>
                                <a href="#">HOME</a>
                                <ul>
                                    <li><a href="index.html">Home version 1 </a></li>
                                    <li><a href="index-2.html">Home version 2</a></li>
                                    <li><a href="index-3.html">Home version 3</a></li>
                                    <li><a href="index-4.html">Home version 4</a></li>
                                    <li><a href="index-5.html">Home version 5</a></li>
                                    <li><a href="index-6.html">Home version 6</a></li>
                                    <li><a href="index-7.html">Home version 7</a></li>
                                    <li><a href="index-8.html">Home version 8</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">SHOP</a>
                                <ul>
                                    <li>
                                        <a href="#">Shop Layout</a>
                                        <ul>
                                            <li><a href="shop.html">Standard Style</a></li>
                                            <li><a href="shop-sidebar.html">Shop Grid Sidebar</a></li>
                                            <li><a href="shop-list.html">Shop List Style</a></li>
                                            <li><a href="shop-list-sidebar.html">Shop List Sidebar</a></li>
                                            <li><a href="shop-right-sidebar.html">Shop Right Sidebar</a></li>
                                            <li><a href="shop-location.html">Store Location</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">Product Layout</a>
                                        <ul>
                                            <li><a href="product-details.html">Tab Style 1</a></li>
                                            <li><a href="product-details-2.html">Tab Style 2</a></li>
                                            <li><a href="product-details-gallery.html">Gallery style </a></li>
                                            <li><a href="product-details-affiliate.html">Affiliate style</a>
                                            </li>
                                            <li><a href="product-details-group.html">Group Style</a></li>
                                            <li><a href="product-details-fixed-img.html">Fixed Image Style </a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">PAGES </a>
                                <ul>
                                    <li><a href="about-us.html">About Us </a></li>
                                    <li><a href="cart.html">Cart Page</a></li>
                                    <li><a href="checkout.html">Checkout </a></li>
                                    <li><a href="my-account.html">My Account</a></li>
                                    <li><a href="wishlist.html">Wishlist </a></li>
                                    <li><a href="compare.html">Compare </a></li>
                                    <li><a href="contact-us.html">Contact us </a></li>
                                    <li><a href="login-register.html">Login / Register </a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">BLOG </a>
                                <ul>
                                    <li><a href="blog.html">Blog Standard </a></li>
                                    <li><a href="blog-sidebar.html">Blog Sidebar</a></li>
                                    <li><a href="blog-details.html">Blog Details</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="about-us.html">ABOUT US</a>
                            </li>
                            <li>
                                <a href="contact-us.html">CONTACT US</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="language-currency-wrap language-currency-wrap-modify">
                    <div class="currency-wrap border-style">
                        <a class="currency-active" href="#">$ Dollar (US) <i class=" ti-angle-down "></i></a>
                        <div class="currency-dropdown">
                            <ul>
                                <li><a href="#">Taka (BDT) </a></li>
                                <li><a href="#">Riyal (SAR) </a></li>
                                <li><a href="#">Rupee (INR) </a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="language-wrap">
                        <a class="language-active" href="#"><img src="assets/images/icon-img/flag.png" alt="">
                            English <i class=" ti-angle-down "></i></a>
                        <div class="language-dropdown">
                            <ul>
                                <li><a href="#"><img src="assets/images/icon-img/flag.png" alt="">English </a>
                                </li>
                                <li><a href="#"><img src="assets/images/icon-img/spanish.png" alt="">Spanish</a>
                                </li>
                                <li><a href="#"><img src="assets/images/icon-img/arabic.png" alt="">Arabic </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- All JS is here -->
    <script src="assets/js/vendor/modernizr-3.11.7.min.js"></script>
    <script src="assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="assets/js/vendor/jquery-migrate-3.3.2.min.js"></script>
    <script src="assets/js/vendor/popper.min.js"></script>
    <script src="assets/js/vendor/bootstrap.min.js"></script>
    <script src="assets/js/plugins/wow.js"></script>
    <script src="assets/js/plugins/scrollup.js"></script>
    <script src="assets/js/plugins/aos.js"></script>
    <script src="assets/js/plugins/magnific-popup.js"></script>
    <script src="assets/js/plugins/jquery.syotimer.min.js"></script>
    <script src="assets/js/plugins/swiper.min.js"></script>
    <script src="assets/js/plugins/imagesloaded.pkgd.min.js"></script>
    <script src="assets/js/plugins/isotope.pkgd.min.js"></script>
    <script src="assets/js/plugins/jquery-ui.js"></script>
    <script src="assets/js/plugins/jquery-ui-touch-punch.js"></script>
    <script src="assets/js/plugins/jquery.nice-select.min.js"></script>
    <script src="assets/js/plugins/waypoints.min.js"></script>
    <script src="assets/js/plugins/jquery.counterup.js"></script>
    <script src="assets/js/plugins/select2.min.js"></script>
    <script src="assets/js/plugins/easyzoom.js"></script>
    <script src="assets/js/plugins/slinky.min.js"></script>
    <script src="assets/js/plugins/ajax-mail.js"></script>
    <!-- Main JS -->
    <script src="assets/js/main.js"></script>
    <!-- Countdown timer script -->

    <script>
  function startTimer() {
    var timerElement = document.getElementById("timer");
    var resendButton = document.getElementById("resendOTP");
    
    // Hide resend button
    resendButton.style.display = "none";
    
    // Show timer
    timerElement.style.display = "block";
    
    // Get remaining time from localStorage
    var remainingTime = localStorage.getItem("remainingTime");
    if (remainingTime) {
      // If remainingTime exists, set it as the initial value of seconds
      seconds = remainingTime;
      localStorage.removeItem("remainingTime");
    } else {
      // If remainingTime doesn't exist, set seconds to 60
      seconds = 60;
    }
    
    var timer = setInterval(function() {
      seconds--;
      timerElement.innerHTML = "Resend OTP in " + seconds + " seconds";
      if (seconds <= 0) {
        clearInterval(timer);
        timerElement.style.display = "none";
        resendButton.style.display = "block";
      }
    }, 1000);
    
    // Function to handle resendOtp button click
    resendButton.addEventListener("click", function() {
      // Save the remaining time in localStorage
      localStorage.setItem("remainingTime", seconds);
      // Start the timer again
      startTimer();
    });
  }
  
//   Call startTimer when the page loads
  window.onload = function() {
    startTimer();
  }
</script>
    <script>
        document.getElementById('resendOTP').addEventListener('click', function () {
            fetch('/resend', {
                method: 'POST', // Request method
                headers: {
                    'Content-Type': 'application/json' // Content type
                }
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json(); // Parse the JSON response
                })
                .then(data => {
                    console.log(data); // Log the response data
                })
                .catch(error => {
                    console.error('There was a problem with the fetch operation:', error);
                });
        });
    </script>
    <script>
      document.getElementById('otpForm').addEventListener('submit', function (event) {
    event.preventDefault(); // Prevent default form submission
    submitOTPForm(); // Call submitOTPForm function to handle form submission
});

function submitOTPForm() {
    // Validate the form
    if (validateForm()) {
        // If validation passes, proceed to send data to the backend
        var formData = {
            otp: document.getElementById('otp').value,
        };

        fetch('/forgotpasswordotp', {
            method: 'POST',
            body: JSON.stringify(formData),
            headers: {
                'Content-Type': 'application/json'
            }
        })
        .then(response => response.json())
        .then(data => {
            // Handle response data
            if (data.message === 'Otp is correct') {
                console.log('helo')
                document.getElementById('otp-error').textContent = ''; 
                window.location.href='/newpassword'
            } else if (data.message === 'otp is incorrect' || data.message === 'otp is expired') {
                document.getElementById('otp-error').textContent = data.message; 
            } else {
                console.error('Unknown response:', data.message);
            }
        })
        .catch(error => {
            console.error('Error:', error);
            // Handle error
        });
    }
}

function validateForm() {
    var otpInput = document.getElementById("otp").value.trim();

    // Check if OTP is blank or empty
    if (otpInput === "") {
        document.getElementById("otp-error").innerText = "OTP cannot be blank";
        return false;
    }

    // Check if OTP is not exactly 4 digits or contains non-numeric characters
    if (!(/^\d{4}$/).test(otpInput)) {
        document.getElementById("otp-error").innerText = "OTP should be exactly 4 digits \n and contain only numbers";
        return false;
    }

    // Reset error message if validation passes
    document.getElementById("otp-error").innerText = "";

    // If all validations pass, return true to submit the form
    return true;
}
    </script>
    <!-- <script>
        document.getElementById('otpForm').addEventListener('submit', function (event) {
    event.preventDefault(); // Prevent default form submission
    submitOTPForm(); // Call submitOTPForm function to handle form submission
});

function submitOTPForm() {
    var formData = {
        otp: document.getElementById('otp').value,
    };

    fetch('/otp', {
        method: 'POST',
        body: JSON.stringify(formData),
        headers: {
            'Content-Type': 'application/json'
        }
    })
    .then(response => response.json())
    .then(data => {
        // Handle response data
        if (data.message === 'Otp is correct') {
            document.getElementById('otp-error').textContent = ''; // Clear any previous error message
            window.location.href = '/login'; // Redirect to the login page
        } else if (data.message === 'otp is incorrect' || data.message === 'otp is expired') {
            document.getElementById('otp-error').textContent = data.message; // Display error message
        } else {
            console.error('Unknown response:', data.message); // Log unknown response
        }
    })
    .catch(error => {
        console.error('Error:', error);
        // Handle error
    });
}
    </script> -->


</body>


<!-- Mirrored from htmldemo.net/urdan/urdan/cart.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 17 Jan 2024 09:30:35 GMT -->

</html>